{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Task collection: {{ collection.id }}</h1>
    <h1>CSV Name: {{ collection.csvName }}</h1>
    <h1>Progress: {{ collection.progress }}% </h1>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ collection.progress }}%" aria-valuenow="{{ collection.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h1>Status: {{ collection.status }}</h1>

    <hr>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ExternalId</th>
            <th scope="col">New Status</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for key, task in collection.tasks %}
        <tr>
            <th scope="row">{{ key }}</th>
            <td>{{ task.externalId }}</td>
            <td>{{ task.newStatus }}</td>
            <td>{{ task.status }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
